[flake8]
exclude = 
    migrations,
    __pycache__,
    manage.py,
    settings.py 
max-line-length = 88
ignore =
    W291, 
    W292,  
    W293,  
    W391,  
    E302,  
    E301,  
    E231,  
    E225,  
    E261,  
    E262,  
    E265,  
    E501,  
    F401   